*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    background: linear-gradient(to right, #671060, #b10b45);;
    padding: 20px;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 5vh;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}
.free-space{
    background: linear-gradient(to right, #671060, #b10b45);;
    padding: 20px;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
}
.end{
    background: linear-gradient(to right, #671060, #b10b45);;
    padding: 20px;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 5vh;
    justify-content: center;

}
.end h3 {
    justify-content: center;
    display: flex;
    color: whitesmoke;
}
.right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.logo{
    grid-column: 2/3;
    
}

.hamburger{
    justify-self: end;
}

section{
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero{
    height: 60vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to left, rgba(209, 77, 77, 0.5),rgba(136, 18, 18, 0.5)),
    url(car.jpg);
    background-size: cover;
}
.header-main a {
    font-size: 17px;
    font-weight: 400;
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
}
.header-main a:hover{
    color: #242424;
}
.headline{
    position: absolute;
    top: 80%;
    left:15%;
    transform: translate(-15%, -80%);
    font-size: 70px;
    color: white;
}
.story {
    padding: 30px;
    background:#eeeeee;
    font-size: 19px;
    font-family: cursive;
    letter-spacing: 0.1px;
}